AIRFLOW_UID=50000
ENV=dev
LOG_LEVEL=INFO
APP_CONFIG_DIR=/opt/airflow/app/configs

DATABRICKS_CONN_ID=databricks_default

DATABRICKS_BRONZE_JOB_ID=replace_with_bronze_job_id
DATABRICKS_SILVER_JOB_ID=replace_with_silver_job_id
DATABRICKS_GOLD_JOB_ID=replace_with_gold_job_id
DATABRICKS_BOOTSTRAP_JOB_ID=replace_with_bootstrap_job_id
DATABRICKS_SMOKE_TEST_JOB_ID=replace_with_smoke_test_job_id